* {
  margin: 0;
}
body {
  font-family: "Poppins", sans-serif;
  height: 5000px;
}

.top-banner {
  display: flex;
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.half-width {
  width: 50%;
  margin-left: 6%;
}
.half-width img {
  width: 80%;
  margin-top: 50px;
}
h1 {
  margin-top: 100px;
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  margin-top: 20px;
}
h3 {
  margin-top: 20px;
  font-size: 1.5rem;
}
p {
  margin: 5px 0;
}
.common-btn {
  background-color: rgb(244, 99, 41);
  padding: 13px 30px;
  margin-top: 20px;
  color: white;
  border-radius: 5px;
  border: 1px solid rgb(244, 99, 41);
  font-size: 17px;
}

.dream-section {
  display: flex;
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.flexible-container {
  display: flex;
  margin-top: 50px;
}

.experience-item {
  width: 80%;
  margin: 0 5%;
  box-shadow: 2px 2px 30px;
  padding: 50px 25px;
  border-radius: 7px;
}
#first-border {
  border-left: 7px solid;
  border-image: linear-gradient(salmon, tomato);
  border-image-slice: 4;
}
#second-border {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 4;
}
